events {
  worker_connections  1024;  ## Default: 1024
}
http {
  server {
       listen 80;
       server_name {{ server_name_site }};
       access_log /var/log/nginx/access.log;
       error_log /var/log/nginx/error.log;
       return 301 https://$server_name$request_uri;
  }
  server {
       listen 443 ssl;
       # ssl on;
       server_name {{ server_name_site }};

       ssl_certificate /etc/letsencrypt/live/{{ server_name_site }}/fullchain.pem;
       ssl_certificate_key /etc/letsencrypt/live/{{ server_name_site }}/privkey.pem;

       access_log /var/log/nginx/access.log;
       error_log /var/log/nginx/error.log;

       # access_log /var/log/nginx/monitoring-access.log;
       # error_log /var/log/nginx/monitoring-error.log;

       location / {
                proxy_pass {{ proxy_pass_address }};
       }
  }
}
